{% extends 'base.html' %}{% load static %} {% load bootstrap4 %}
{% block content %}
<hr class="mt-5 mb-4" style="border-top: 5px dotted;">

<h1 style="font-size:60px;" class="medium text-center">{{movie.title}}</h1>

<!-- 하트와 작성자 표기 자현이의 도전.. -->
{% if request.user.is_authenticated %}
<div class="row">
  <dir class="col-lg-4"></dir>
    <form class="col-lg-4 mt-3 text-lg-center text-center" action="{% url 'movies:likes' movie.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in movie.like_users.all %}
        <input style="width:45px;" type="image" src="{% static 'heartt.png' %}" type="submit">
      {% else %}
        <input style="width:45px;" type="image" src="{% static 'heart3.png' %}" type="submit">
      {% endif %}
    </form>
    <!-- 작성자 표기-->
  
    {% if request.user == movie.user %}
      <div class="medium col-lg-4 mt-3 text-lg-end text-light">작성자 : <a class="text-light" href="{% url 'accounts:profile' movie.user.username %}">{{movie.user.username}}</a>
      <!-- 작성자일경우 업데이트 및 삭제 기능 추가-->

      <div>
        <a href="{% url 'movies:update' movie.pk %}">
          <input class="bg-info text-white m-2 mx-1" type="submit" value="UPDATE" style="border-radius:25px;"/></a>
        <a href="{% url 'movies:delete' movie.pk %}">
          {% csrf_token %}
          <input class="bg-danger text-white m-2 mx-1" type="submit" value="DELETE" style="border-radius:25px;"/></a>
      </div></div>
    {% else %}
    <div class="medium col-lg-4 mt-4 text-lg-end text-light">작성자 : <a class="text-light" href="{% url 'accounts:profile' movie.user.username %}">{{movie.user.username}}</a>
    </div>
    {% endif %}

{% else %}
<div class="medium mt-3 text-lg-end text-light">작성자 : <a class="text-light" href="{% url 'accounts:profile' movie.user.username %}">{{movie.user.username}}</a>
  </div>


{% endif %}



<hr class="my-4" style="border-top: 5px dotted;">
{% comment %} <hr align="center" style="width:160px; border:0px; border-top:5px dotted; margin-left:auto; margin-right:auto; margin-bottom:0px;"> {% endcomment %}

<div class="d-flex justify-content-center">
  <div>
  {% if movie.actor_image %}
    <img class="p-5 me-3" style="border-radius:50px; width:600px;" src="{{movie.actor_image.url}}"/>
  {% endif %}
  </div>

  <div class="p-5 ms-3">
  <div class="d-flex"><h1 class="medium me-2">관객수 </h1><h1>: {{movie.audience}}명</h1></div>
  <div class="d-flex"><h1 class="medium me-2">개봉일 </h1><h1>: {{movie.release_date}}</h1></div>
  <div class="d-flex"><h1 class="medium me-2">장르 </h1><h1>: {{movie.genre}}</h1></div>
  <div class="d-flex"><h1 class="medium me-2">평점 </h1><h1>: {{movie.score}} / 5.0</h1></div>
  <h1 class="medium me-2">줄거리 </h1><h1>{{movie.description}}</h1>
  <br>
  <h5>Poster URL : {{movie.post_url}}</h5>
  <!-- 사용자만 업데이트 가능하게 하기 -->
  <br><hr>

  <!-- 댓글 보기 -->
  <br>
  <p style="font-size:25px;">[댓글]</p>
  <ul>
      {% for comment in comments %}
      <li style="font-size:20px;">
        <div class="d-flex">
          <a style="text-decoration:none;" class="medium text-white" href="{% url 'accounts:profile' comment.user %}">{{comment.user}}</a> : {{comment.content}}
        <!-- 댓글 작성자일경우 삭제 기능 추가 -->
        {% if request.user == comment.user %}
          <form action="{% url 'movies:comments_delete' movie.pk comment.pk%}" method="POST">
            {% csrf_token %}
            <input style="font-size:15px; background-color: #FF5675; border-radius:25px;" class="ms-2 medium opacity-75 text-white" type="submit" value="DELETE">
          </form></div>
        {% endif %}
      </li>
      {% empty %}
      <p style="font-size:20px;" >첫 댓글을 남겨보세요 !</p>
    {% endfor %}
  </ul>
  <br>
  <!-- 댓글 쓰기 -->
  {% if request.user.is_authenticated %}
    <div >
    <form class="d-flex justify-content-center" action="{% url 'movies:comments_create' movie.pk %}" method="POST">
      {% csrf_token %}
      <div style="margin-right:10px;" class="w-75">
      {% bootstrap_form comment_form %}</div>
      <input style="background-color:	#1478CD; height:35px; margin-top:20px;" class="btn text-white" type="submit" value="댓글달기">
      {% comment %} <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
      <label class="btn btn-outline-primary" for="btn-check-outlined">SAVE</label><br> {% endcomment %}
    </form>      
    </div>
  {% else %}
    <a class="medium" style="font-style:italic; font-size:18px;" href="{% url 'accounts:login' %}">로그인 후 댓글을 쓸 수 있습니다.</a>
    <br>
  {% endif %}
  
  <br>
  <a class="medium" style="color: #1478CD; font-size:18px;" href="{% url 'movies:index' %}">뒤로가기</a>
 </div>
</div>
{% endblock content %}
