{% extends 'base.html' %}
{% block content %}{% load bootstrap4 %}
<div style="width:620px;" class="rounded mx-auto mt-5 border border-light p-5">
  <h1 class="bold">비밀번호변경</h1>
  <br>
  <form action="{% url 'accounts:change_password' %}" method="POST">
    {% csrf_token %}{% bootstrap_form form%}
    {% comment %} {{form.as_p}} {% endcomment %}
    <div class="d-flex justify-content-between">
    <input type="submit" class="text-white bg-danger mt-3" style="border-radius: 15px" value="변경하기"/>
  
  <a class="text-white mt-3" href="{% url 'movies:index' %}">목록보기</a></form>
</div></div>
{% endblock content %}
