{% extends 'base.html' %}
{% block content %}
  {% load bootstrap4 %}

  <div style="width:620px;" class="rounded mx-auto mt-5 border border-light p-5">

  <form class="text-white" action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}
    <div class="medium">
      {% bootstrap_form form %}</div>
    
    <div class="d-flex justify-content-between">
    <a class="text-dark">
      <input style="border-radius: 15px" class="bg-primary index medium text-white" type="submit" value="Signup"/>
    </a>
  </form>



  <a class="text-dark" href="{% url 'movies:index' %}">
    <input style="border-radius: 15px" class="index medium text-dark" type="button" value="Back"/>
  </a>
  </div>
  </div>
{% endblock content %}
